Flask==2.3.3
Flask-SQLAlchemy==3.0.5
transformers==4.35.0
torch==2.1.0
requests==2.31.0
Werkzeug==2.3.7
arabic-reshaper==3.0.0
python-bidi==0.4.2
emoji==2.8.0
textblob==0.17.1
nltk==3.8.1
moviepy==1.0.3
SpeechRecognition==3.10.0
googletrans==4.0.0rc1
pydub==0.25.1
openpyxl==3.1.5
reportlab==4.4.3
tweepy==4.14.0
gunicorn==20.1.0 